# ignore ALL files in ANY directory named Data
Data/
.Rhistory
Assigments/AS 1/Code/did_common_6_binary.log
Report.log
Report.tex
Output/
Assigments/AS 2/.RDataTmp
Assigments/AS 2/Report_cache/latex/Q1_8fa1d42a717b996fc5fc9440c98174fe.rdb
Assigments/AS 2/Report_cache/latex/Q2, _2fb3a3f6b833aa3b1995cfc8b5500c49.rdb
Assigments/AS 2/Report_cache/latex/Q3_7a68da2280deed69face3a590326bca1.rdb
Assigments/AS 2/Report_cache/latex/Q4_54bd280c96191a157ce9da6dfabf4233.rdb
Assigments/AS 2/Report_cache/latex/Q5_2cf2dc6a72c26159b789a61f3f06f48d.rdb
Assigments/AS 2/Report_cache/latex/Q6_4c27f709e9934d0853b0d58f76359c80.rdb
Assigments/AS 2/Report_cache/latex/Q6_4c27f709e9934d0853b0d58f76359c80.RData
Assigments/AS 2/Report2_cache/latex/