# ignore ALL files in ANY directory named Data
Data/
Output/
latex/
.Rhistory
.DS_Store
Assigments/AS 2/Main.Rmd
*.rdb
*.RData
*.rdx
Assigments/AS 2/Report2_cache/latex/Q3_eb81a78cb511a7bd7b55a884f2c332f2.rdb
Assigments/AS 2/Report2_cache/latex/Q5_e14e60714ba231e6b421c0518689dc4c.rdb
Assigments/AS 2/Report2_cache/latex/Q6_bf7a565d0d81fd983721a77348658247.rdb
Assigments/AS 2/Report2_cache/latex/Q6_bf7a565d0d81fd983721a77348658247.rdb
